
@import "https://unpkg.com/open-props";

/* Setup Scrolling */

html,
body {
  margin: 0;
  height: 100vh;
  overscroll-behavior: none;
  height: 100vh;
  font-family: "Satoshi", sans-serif;
}

.container b {
  font-size: 1.5em;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

/* Scroll Container */
.container {
  overscroll-behavior: none;
  width: 500vw; /* number of sections times 100 e.g. five sections is 500vw */
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
}

/* Panel Defaults */
.panel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: relative;
  box-sizing: border-box;

  padding: 20em;
  font-size: 1.5em;
  border-radius: var(--radius-blob-5);

}

.one {
  background: #597056;

  color: white;
}

.one h1 {
  animation: var(--animation-fade-in-bloom);
  font-size: 4em;
}

.two {
  background: #9b9ace;
}

.two p:hover {
  animation: var(--animation-fade-in-bloom);
}

.three {
  background: #ef8b62;
  letter-spacing: 100px;
}

.four {
  background: #1d325e;
  color: white;
}

.five {
  background: #add9a7;
}

.five img {
  height: 200px;
  animation: var(--animation-float);
  duration: loop;
  display: flex;
  justify-content: center;

}
/* You don't have to do 5 panels, make it your own */
